@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');
/* mert can uslu */
*{margin:0 auto;padding:0px;margin:0px;color:white;text-align:center;}


#container{
                width: 100%; 
                position:relative; 
}
#backImg{
	 position:absolute;                  
                bottom:0;                          
                right:0;   
                z-index:-1;
}

#images div{
	font-family: 'Just Another Hand', cursive;
	background-color:#000;
	position:relative;
	width:250px;
			border-radius:50px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	box-shadow:0 4px 18px 1px rgba(0,0,0,0.2);
}
#images div img{
	border-radius:50px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	width:100%;
	height:150px;
}

#i1{left:150px;top:185px;}
#i2{left:350px;top:5px;}
#i3{left:150px;top:60px;}
#i4{left:200px;top:0px;}